@model Product
<div class="modal-body">
    <div class="row align-items-center">
        <div class="col-lg-5 col-12">
            <img class="img-fluid rounded" src="assets/images/@Model.Image" alt="image" />
        </div>
        <div class="col-lg-7 col-12 mt-5 mt-lg-0">
            <div class="product-details">
                <h3 class="mb-0">@Model.Model</h3>
                 <span class="product-price h4">
                    $25.00 <del class="text-muted h6"></del>
                </span>
                <ul class="list-unstyled my-4">
                    <li>
                        Mövcudluq :<span class="text-muted"> Anbarda</span>
                    </li>
                    <li>
                        Brend :<span class="text-muted"> Tissot</span>
                    </li>
                    <li>
                        Kateqoriya :<span class="text-muted"> Kişi</span>
                    </li>
                </ul>
                <div class="d-sm-flex align-items-center mb-5">
                    <div class="d-flex align-items-center mr-sm-4">
                        <div class="number">
                            <input type="number" value="1" id="quickViewInput" />
                        </div>
                        
                    </div>
                </div>
                <div class="d-sm-flex align-items-center mt-5">
                    <button class="btn btn-primary btn-animated mr-sm-4  mb-sm-0 btn-cart btn-quick" id="addToBasket">
                        <i class="fas fa-shopping-cart mr-1"></i>Səbətə At
                    </button>
                    <input type="hidden" value="@Model.Id" />
                    <button class="btn btn-animated btn-dark" href="#" id="addToWishlist">
                        <i class="far fa-heart mr-1">

                        </i> Arzu siyahısına əlavə et
                    </button>
                    <input type="hidden" value="@Model.Id" />

                </div>
                <div class="d-sm-flex align-items-center border-top pt-4 mt-5">
                    <h6 class="mb-sm-0 mr-sm-4">Paylaş:</h6>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="bg-white shadow-sm rounded p-2"
                               href="#"><i class="fa fa-facebook"></i></a>
                        </li>

                        <li class="list-inline-item">
                            <a class="bg-white shadow-sm rounded p-2"
                               href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="bg-white shadow-sm rounded p-2"
                               href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>