@model HeaderFooterVM
<nav class="navbar-top">
    <div class="container">
        <div class="topbar">
            <ul class="box-top box-top-right pull-right">

                <li class="language-select">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/assets/images/az-az.png" alt="aze">
                            Azərbaycan
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">
                                <img src="~/assets/images/az-az.png" alt="aze">
                                Azərbaycan
                            </a>
                            <a class="dropdown-item" href="#">
                                <img src="~/assets/images/ru-ru.png" alt="aze">
                                Русский
                            </a>
                            <a class="dropdown-item" href="#">
                                <img src="~/assets/images/en-gb.png" alt="aze">
                                English
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fas fa-phone"></i>
                    <span>Əlaqə : @Model.Bio.Phone</span>
                </li>
                <li>
                    <a href="#">
                        <span>
                            <i class="fas fa-shopping-basket"></i>
                            Səbət
                        </span>

                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>
                            <i class="fa fa-share"></i>
                            Sifarişi rəsmiləşdir
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- ===========HEADER START =========== -->
<header id="header">
    <div class="wrap">
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm relative navbar-main">
            <div class="container relative">
                <div class="page-logo relative">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/@Model.Bio.Logo"
                             alt="page-logo" class="img-fluid">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-hover" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="productGrid.html" class="nav-link">KİŞİ</a>
                        </li>
                        <li class="nav-item">
                            <a href="productGrid.html" class="nav-link">Qadın</a>
                        </li>
                        <li class="nav-item">
                            <a href="productGrid.html" class="nav-link">DİVAR Saatı</a>
                        </li>
                        <li class="nav-item">
                            <a href="productGrid.html" class="nav-link">Brendlər</a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">Haqqımızda</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Əlaqə</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-right">
                    <ul>
                        <li class="user">
                            <a href="#">
                                <i class="far fa-user"></i>
                            </a>
                            <ul class="d-none">
                                <li>Hesabım</li>
                                <li>Qeydiyyat</li>
                                <li>Giriş</li>
                            </ul>
                        </li>
                        <li class="heart">
                            <a href="#">
                                <i class="far fa-heart"></i>
                                <span class="heart-count">0</span>
                            </a>
                        </li>
                        <li class="shop">
                            <a href="#">
                                <i class="fas fa-shopping-cart"></i>
                                <span>0</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

</header>

<div class="second-wrap">
    <div class="container">
        <div class="d-flex">
            <div class="brands">
                <div class="brands-btn">
                    brendlər
                    <i class="fas fa-clock ml-1"></i>
                </div>
                <ul id="brands" class="brandsList">
                    @foreach (Brand brand in Model.Brands)
                    {
                        <li>
                            <a href="#">@brand.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="search-container">
                <input type="text" name="search" id="text-search" value=""
                       placeholder="Bütün mağaza üzrə axtarış..." class="searchText">
                <div id="sp-btn-search" class="btn-search">
                    <button type="button" id="btn-search-category" class="btn btn-default btn-lg">
                        <span class="hidden-xs">Axtar <i class="fas fa-search"></i></span>
                    </button>
                </div>
            </div>
            <div class="specials">
                <a href="#">Xüsusİ təklİf <i class="fa fa-store-alt"></i></a>

            </div>
        </div>

    </div>

</div>
