@model Slider
@{ 
    ViewData["Title"] = "Detail"; 
 }
<div class="col-lg-6 offset-lg-3">
    <div class="container text-center">
        <div class="row flex-column">
            <img src="~/assets/images/banner/@Model.Image" width="430px" height="310px" />

        </div>
        <a asp-action="Index" class="btn btn-dark" width="140px!important"> Go back</a>
    </div>
</div>



