<section class="bg-light subscribe-section">
    <div class="container">
        <div class="row justify-content-center text-center mb-8">
            <div class="col-lg-6 col-md-10">
                <div class="section-heading">
                    <h3 class="mb-2">
                        Email ünvanını qeyd et və yeniliklərdən həmişə ilk sən xəbərdar ol
                    </h3>
                </div>
                <div class="subscribe-form">
                    <form id="mc-form" method="post" class="row align-items-center no-gutters ">
                        <div class="col">
                            <input  value="" name="EMAIL" class="email form-control input-2 bg-white"
                                   id="mc-email" placeholder="Email Ünvanı" required="" type="email">
                        </div>
                        <div class="col-auto">
                            <input class="btn overflow-auto" name="subscribe" value="Göndər"
                                   type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
