<!-- Cart Modal -->
<div class="modal cart-modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Səbətim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row align-items-center">
                        <div class="col-5 d-flex align-items-center">
                            <div class="mr-4">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <!-- Image -->
                            <a href="product-left-image.html">
                                <img class="img-fluid" src="assets/images/VT-00002216-370x370.jpg" alt="product">
                            </a>
                        </div>
                        <div class="col-7">
                            <!-- Title -->
                            <h6>
                                <a class="link-title" href="product-left-image.html">Men's Brand Tshirts</a>
                            </h6>
                            <div class="product-meta">
                                <span class="mr-2 text-primary">$27.00</span><span class="text-muted">x 1</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-5">
                <div class="d-flex justify-content-between align-items-center mb-8">
                    <span class="text-muted">Cəmi:</span> <span class="text-dark">$52.00</span>
                </div> <a href="product-cart.html" class="btn btn-primary btn-animated mr-2">
                    <i class="fas fa-shopping-cart mr-1"></i>Ətraflı Bax
                </a>
                <a href="product-checkout.html" class="btn btn-dark">
                    <i class="fas fa-money-check mr-1"></i>Ödəniş
                    Panelinə Keç
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Quick View Modal -->
<div class="modal fade view-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
        </div>
    </div>
</div>