@model LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zodiac Store</title>
    <!-- plugins:css -->
    @*<link rel="stylesheet" href="~/assets/admin/vendors/mdi/css/materialdesignicons.min.css">*@
    <link rel="stylesheet" href="~/assets/admin/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/assets/images/logoblack.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo text-center">
                                <img src="~/assets/images/logoblack.png" alt="logo">
                            </div>
                            <h3 class="font-weight-normal text-center">Hesabına daxil ol</h3>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form class="pt-3" method="post">
                                <div class="form-group">
                                    <input asp-for="Email" class="form-control form-control-lg" placeholder="Email ünvanı">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" class="form-control form-control-lg" placeholder="Şifrə">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <p class="text-danger mb-3">Do you want to stay in page when you close browser?</p>
                                        <input asp-for="Ischecked" class="form-control form-control-lg" placeholder="Ischecked">
                                        <span asp-validation-for="Ischecked" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <input type="submit" class="btn btn-block btn-login btn-primary" value="Daxil ol" />
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Hesabın yoxdur? <a asp-action="Register" class="text-primary">Qeydiyyatdan keç</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/assets/admin/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/assets/admin/js/off-canvas.js"></script>
    <script src="~/assets/admin/js/hoverable-collapse.js"></script>
    <script src="~/assets/admin/js/template.js"></script>
    <!-- endinject -->
</body>

</html>
