@model RegisterVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Majestic Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/admin/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/assets/admin/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-5 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo text-center">
                                <img src="~/assets/images/logoblack.png" alt="logo">
                            </div>
                            <div class="login-text text-center">
                                <h3 class="font-weight-normal text-center mb-3">Qeydiyyatdan keç</h3>
                            </div>
                            <div class="login-form">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <form class="pt-3" method="post">
                                    <div class="form-group">
                                        <input asp-for="UserName" class="form-control form-control-lg" placeholder="İstifadəçi adı">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Email" class="form-control form-control-lg" placeholder="Email ünvanı">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" class="form-control form-control-lg" placeholder="Şifrə">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="CheckPassword" class="form-control form-control-lg" placeholder="Şifrənin təkrarı">
                                        <span asp-validation-for="CheckPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="PrivacyAggrement" placeholder="Ischecked">
                                        <span asp-validation-for="PrivacyAggrement" class="text-danger"></span>
                                        <label asp-for="PrivacyAggrement" class="text-danger mb-3">Müqaviləni oxudum və razıyam</label>


                                    </div>
         
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-block" value="Hesabı yarat">
                      
                                    </div>
                                    <div class="text-center mt-4 font-weight-light">
                                        Artıq hesabınız var? <a asp-action="Login" class="text-primary">Daxil ol</a>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/assets/admin/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/assets/admin/js/off-canvas.js"></script>
    <script src="~/assets/admin/js/hoverable-collapse.js"></script>
    <script src="~/assets/admin/js/template.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <!-- endinject -->
</body>

</html>
