
@{ 

}

<section class="text-center pb-11 p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mb-4">Sifarişiniz tamamlandı,ən yaxın vaxtda sizinlə əlaqə saxlanılacaq</h3>
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index"><i class="fas fa-home mr-1"></i>Əsas səhifə</a>
                <a class="btn btn-dark" href="shop-grid-left-sidebar.html"><i class="fas fa-shopping-cart mr-1"></i>Alışverişə davam et</a>
            </div>
        </div>
    </div>
</section>